RestClientHttpRio/WcfClient/WcfClient/Connected Services/TutorialsSign/RestTutorial1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Temperature">
    <xs:sequence>
      <xs:element minOccurs="0" name="Units" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Temperature" nillable="true" type="tns:Temperature" />
  <xs:complexType name="ConversionFault">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ConversionFault" nillable="true" type="tns:ConversionFault" />
</xs:schema>