RestSoapSignEncrypt/WcfClient/WcfClient/Connected Services/RestSoap/RestSoap.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RestSoap" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51899/RestSoap.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51899/RestSoap.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51899/RestSoap.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRestSoap_Celsius2Fahrenheit_InputMessage">
    <wsdl:part name="parameters" element="tns:Celsius2Fahrenheit" />
  </wsdl:message>
  <wsdl:message name="IRestSoap_Celsius2Fahrenheit_OutputMessage">
    <wsdl:part name="parameters" element="tns:Celsius2FahrenheitResponse" />
  </wsdl:message>
  <wsdl:message name="IRestSoap_Celsius2Fahrenheit_ConversionFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ConversionFault" />
  </wsdl:message>
  <wsdl:message name="IRestSoap_Fahrenheit2Celsius_InputMessage">
    <wsdl:part name="parameters" element="tns:Fahrenheit2Celsius" />
  </wsdl:message>
  <wsdl:message name="IRestSoap_Fahrenheit2Celsius_OutputMessage">
    <wsdl:part name="parameters" element="tns:Fahrenheit2CelsiusResponse" />
  </wsdl:message>
  <wsdl:portType name="IRestSoap">
    <wsdl:operation name="Celsius2Fahrenheit">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestSoap/Celsius2Fahrenheit" message="tns:IRestSoap_Celsius2Fahrenheit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestSoap/Celsius2FahrenheitResponse" message="tns:IRestSoap_Celsius2Fahrenheit_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IRestSoap/Celsius2FahrenheitConversionFault" name="ConversionFault" message="tns:IRestSoap_Celsius2Fahrenheit_ConversionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Fahrenheit2Celsius">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestSoap/Fahrenheit2Celsius" message="tns:IRestSoap_Fahrenheit2Celsius_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestSoap/Fahrenheit2CelsiusResponse" message="tns:IRestSoap_Fahrenheit2Celsius_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RestSoapBinding_IRestSoap" type="tns:IRestSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Celsius2Fahrenheit">
      <soap:operation soapAction="http://tempuri.org/IRestSoap/Celsius2Fahrenheit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConversionFault">
        <soap:fault use="literal" name="ConversionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Fahrenheit2Celsius">
      <soap:operation soapAction="http://tempuri.org/IRestSoap/Fahrenheit2Celsius" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RestSoap">
    <wsdl:port name="RestSoapBinding_IRestSoap" binding="tns:RestSoapBinding_IRestSoap">
      <soap:address location="http://localhost:51899/RestSoap.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>