RestSoapSignEncrypt/WcfClient/WcfClient/Connected Services/RestSoapSignEncrypt/RestSoapSignEncrypt2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51899/RestSoapSignEncrypt.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
  <xs:element name="Celsius2Fahrenheit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="temperature" nillable="true" type="q1:Temperature" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Celsius2FahrenheitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="Celsius2FahrenheitResult" nillable="true" type="q2:Temperature" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService" name="ConversionFault" nillable="true" type="q3:ConversionFault" />
  <xs:element name="Fahrenheit2Celsius">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="temperature" nillable="true" type="q4:Temperature" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Fahrenheit2CelsiusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="Fahrenheit2CelsiusResult" nillable="true" type="q5:Temperature" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>